CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


.vs/


*.suo
*.user
*.userosscache
*.sln.docstates


App.config.user


*.suo
*.user
*.sln.docstates


bin/
obj/


.vscode/


*.ide/
*.ide.*